In [1]:
import pandas as pd
import datetime as dt
import numpy as np

In [2]:
raw = pd.read_csv('resources/korean_interest_raw.csv', sep='\t')
raw

    year     date  interest
0   2025  02월 25일      2.75
1   2024  11월 28일      3.00
2   2024  10월 11일      3.25
3   2023  01월 13일      3.50
4   2022  11월 24일      3.25
5   2022  10월 12일      3.00
6   2022  08월 25일      2.50
7   2022  07월 13일      2.25
8   2022  05월 26일      1.75
9   2022  04월 14일      1.50
10  2022  01월 14일      1.25
11  2021  11월 25일      1.00
12  2021  08월 26일      0.75
13  2020  05월 28일      0.50
14  2020  03월 17일      0.75
15  2019  10월 16일      1.25
16  2019  07월 18일      1.50
17  2018  11월 30일      1.75
18  2017  11월 30일      1.50
19  2016  06월 09일      1.25
20  2015  06월 11일      1.50
21  2015  03월 12일      1.75
22  2014  10월 15일      2.00
23  2014  08월 14일      2.25
24  2013  05월 09일      2.50
25  2012  10월 11일      2.75
26  2012  07월 12일      3.00
27  2011  06월 10일      3.25
28  2011  03월 10일      3.00
29  2011  01월 13일      2.75
30  2010  11월 16일      2.50
31  2010  07월 09일      2.25
32  2009  02월 12일      2.00
33  2009  01월 09일      2.50
34  2008  12월 11일      3.00
35  2008  11월 07일      4.00
36  2008  10월 27일      4.25
37  2008  10월 09일      5.00
38  2008  08월 07일      5.25
39  2007  08월 09일      5.00
40  2007  07월 12일      4.75
41  2006  08월 10일      4.50
42  2006  06월 08일      4.25
43  2006  02월 09일      4.00
44  2005  12월 08일      3.75
45  2005  10월 11일      3.50
46  2004  11월 11일      3.25
47  2004  08월 12일      3.50
48  2003  07월 10일      3.75
49  2003  05월 13일      4.00
50  2002  05월 07일      4.25
51  2001  09월 19일      4.00
52  2001  08월 09일      4.50
53  2001  07월 05일      4.75
54  2001  02월 08일      5.00
55  2000  10월 05일      5.25
56  2000  02월 10일      5.00
57  1999  05월 06일      4.75

In [3]:
def to_datetime(y, d):
    return dt.datetime.strptime(str(y) + ' ' + d, '%Y %m월 %d일')

In [4]:
df_dict = {
    'date': [],
    'interest': []
}
for i, (y, d, inter) in raw.iterrows():
    df_dict['date'].append(to_datetime(y, d))
    df_dict['interest'].append(inter)

inter_df: pd.DataFrame = pd.DataFrame.from_dict(df_dict).iloc[::-1].reset_index(drop=True)
print(inter_df.set_index('date'))

            interest
date
1999-05-06      4.75
2000-02-10      5.00
2000-10-05      5.25
2001-02-08      5.00
2001-07-05      4.75
2001-08-09      4.50
2001-09-19      4.00
2002-05-07      4.25
2003-05-13      4.00
2003-07-10      3.75
2004-08-12      3.50
2004-11-11      3.25
2005-10-11      3.50
2005-12-08      3.75
2006-02-09      4.00
2006-06-08      4.25
2006-08-10      4.50
2007-07-12      4.75
2007-08-09      5.00
2008-08-07      5.25
2008-10-09      5.00
2008-10-27      4.25
2008-11-07      4.00
2008-12-11      3.00
2009-01-09      2.50
2009-02-12      2.00
2010-07-09      2.25
2010-11-16      2.50
2011-01-13      2.75
2011-03-10      3.00
2011-06-10      3.25
2012-07-12      3.00
2012-10-11      2.75
2013-05-09      2.50
2014-08-14      2.25
2014-10-15      2.00
2015-03-12      1.75
2015-06-11      1.50
2016-06-09      1.25
2017-11-30      1.50
2018-11-30      1.75
2019-07-18      1.50
2019-10-16      1.25
2020-03-17      0.75
2020-05-28      0.50
2021-08-26      0.75
2021-11-25      1.00
2022-01-14      1.25
2022-04-14      1.50
2022-05-26      1.75
2022-07-13      2.25
2022-08-25      2.50
2022-10-12      3.00
2022-11-24      3.25
2023-01-13      3.50
2024-10-11      3.25
2024-11-28      3.00
2025-02-25      2.75

In [2]:
inter_df = pd.read_csv('resources/korean_interest_changes.csv', index_col='date', parse_dates=['date'])
inter_df

            interest
date
1999-05-06      4.75
2000-02-10      5.00
2000-10-05      5.25
2001-02-08      5.00
2001-07-05      4.75
2001-08-09      4.50
2001-09-19      4.00
2002-05-07      4.25
2003-05-13      4.00
2003-07-10      3.75
2004-08-12      3.50
2004-11-11      3.25
2005-10-11      3.50
2005-12-08      3.75
2006-02-09      4.00
2006-06-08      4.25
2006-08-10      4.50
2007-07-12      4.75
2007-08-09      5.00
2008-08-07      5.25
2008-10-09      5.00
2008-10-27      4.25
2008-11-07      4.00
2008-12-11      3.00
2009-01-09      2.50
2009-02-12      2.00
2010-07-09      2.25
2010-11-16      2.50
2011-01-13      2.75
2011-03-10      3.00
2011-06-10      3.25
2012-07-12      3.00
2012-10-11      2.75
2013-05-09      2.50
2014-08-14      2.25
2014-10-15      2.00
2015-03-12      1.75
2015-06-11      1.50
2016-06-09      1.25
2017-11-30      1.50
2018-11-30      1.75
2019-07-18      1.50
2019-10-16      1.25
2020-03-17      0.75
2020-05-28      0.50
2021-08-26      0.75
2021-11-25      1.00
2022-01-14      1.25
2022-04-14      1.50
2022-05-26      1.75
2022-07-13      2.25
2022-08-25      2.50
2022-10-12      3.00
2022-11-24      3.25
2023-01-13      3.50
2024-10-11      3.25
2024-11-28      3.00
2025-02-25      2.75

In [5]:
def interests_to_balance(inter_df: pd.DataFrame, st, ed):
    dates = pd.date_range(start=pd.Timestamp(st), end=pd.Timestamp(ed), freq='D')
    df = inter_df.copy()
    df = df.reindex(df.index.append(pd.Index([ed]))).ffill()  # 마지막 값 유지
    df = df.reindex(dates, method="ffill")  # 일 단위로 확장
    cum_log = (np.log(1 + df['interest'] / 100) / 365).cumsum()
    return np.exp(cum_log)

In [3]:
df = inter_df.copy()
st = pd.Timestamp('2000-01-01')
ed = pd.Timestamp('2025-03-12')
dates = pd.date_range(start=st, end=ed, freq='D')
df = df.reindex(df.index.append(pd.Index([ed]))).ffill()  # 마지막 값 유지
df = df.reindex(dates, method="ffill")  # 일 단위로 확장
df

            interest
2000-01-01      4.75
2000-01-02      4.75
2000-01-03      4.75
2000-01-04      4.75
2000-01-05      4.75
...              ...
2025-03-08      2.75
2025-03-09      2.75
2025-03-10      2.75
2025-03-11      2.75
2025-03-12      2.75

[9203 rows x 1 columns]

In [6]:
df['bal2'] = interests_to_balance(inter_df, st, ed)
df

            interest     balance      bal2
2000-01-01      4.75  100.012715  1.000127
2000-01-02      4.75  100.025431  1.000254
2000-01-03      4.75  100.038149  1.000381
2000-01-04      4.75  100.050869  1.000509
2000-01-05      4.75  100.063591  1.000636
...              ...         ...       ...
2025-03-08      2.75  203.132979  2.031330
2025-03-09      2.75  203.148077  2.031481
2025-03-10      2.75  203.163177  2.031632
2025-03-11      2.75  203.178278  2.031783
2025-03-12      2.75  203.193380  2.031934

[9203 rows x 3 columns]

In [4]:
cum_log = (np.log(1 + df["interest"] / 100) / 365).cumsum()
df["balance"] = 100 * np.exp(cum_log)
df

            interest     balance
2000-01-01      4.75  100.012715
2000-01-02      4.75  100.025431
2000-01-03      4.75  100.038149
2000-01-04      4.75  100.050869
2000-01-05      4.75  100.063591
...              ...         ...
2025-03-08      2.75  203.132979
2025-03-09      2.75  203.148077
2025-03-10      2.75  203.163177
2025-03-11      2.75  203.178278
2025-03-12      2.75  203.193380

[9203 rows x 2 columns]

In [7]:
df = df.reset_index().rename(columns={'index': 'date'})
df

           date  interest     balance
0    2000-01-01      4.75  100.012715
1    2000-01-02      4.75  100.025431
2    2000-01-03      4.75  100.038149
3    2000-01-04      4.75  100.050869
4    2000-01-05      4.75  100.063591
...         ...       ...         ...
9198 2025-03-08      2.75  203.132979
9199 2025-03-09      2.75  203.148077
9200 2025-03-10      2.75  203.163177
9201 2025-03-11      2.75  203.178278
9202 2025-03-12      2.75  203.193380

[9203 rows x 3 columns]

In [8]:
df.to_csv('resources/ko_deposit.csv', index=False)